body {
	margin: 0 auto;
	width: 113rem;
}

.pnyao-head {
	border-bottom: solid cadetblue;
}

.pnyao-head .src {
	text-decoration: none;
	color: black;
}

#entryButton, #searchButton, #saveButton, button.delete {
	height: 1.9rem;
	background: gray;
	color: white;
	border: none;
	border-radius: 3px;
	margin-bottom: 5px;
}

.controls {
	display: table;
	table-layout:fixed;
	width: 100%;
	margin-bottom: 2rem;
	margin-top: 5px;
	padding-bottom: 3px;
	padding-top: 7px;
	background: #87bf95;
}

.controls > div {
	display: table-cell;
	vertical-align: middle;
	height: 1.9rem;
}

.controls > div:nth-child(1) {
	padding-left: 5px;
}

.controls input {
	height: 100%;
	border-radius: 3px;
	vertical-align: top;
}

#addEntry, #search, #save {
	height: 100%
	margin-bottom:1rem;
}

#addEntryBox, #searchBox {
	background: gray;
	color: white;
	border: none;
	padding: 0;
	padding-left: 5px;
}

.entryLabel {
	margin-bottom:1rem;
}

.entryLabel .label {
	font-size:150%;
	margin-right:1rem;
}

.direntry {
	margin-bottom:1rem;
}

.info *,.infoLabel * {
	padding:3px 10px;
	border:1px solid #999;
}

.info,.entryLabel {
	display:table-row;
	width:100%;
}

.infoLabel * {
	background:#b3db8d;
}

.infoLabel, .info {
	white-space:nowrap;
}

.info:nth-child(even) {
	background:gray;
	color:#fff;
}

.info:nth-child(even) input {
	background:gray;
	color:#fff;
}

.info:nth-child(even) textarea {
	background:gray;
	color:#fff;
}

html {
	font:10pt "sans serif";
}

input, textarea {
	background:#fff;
	color:#000;
	font-size:10pt;
	resize: none;
}

.direntry[fold="true"] .content {
	display: none;
}

.direntry[fold="false"] .content {
	display: block;
}

.direntry[fold="false"] .entryLabel .label:before {
	content: '\025bc';
}

.direntry[fold="true"] .entryLabel .label:before {
	content: '\025b6';
}

.content .title,
.content .author,
.content .tag,
.content .memo,
.content .path {
	vertical-align: top;
	width: 20rem;
	height: 2.5rem;
	display: inline-block;
	white-space: nowrap;
}

.content .info .title,
.content .info .author,
.content .info .tag,
.content .info .memo,
.content .info .path {
	overflow-x: scroll;
}

.content .index {
	display: inline-block;
	width: 3rem;
	height: 2.5rem;
}

.content .memo {
	margin: 0;
}

.tag0 {
	background: white;
	color: black;
	margin-right: 3px;
}

.tag0.add {
	font-weight: bold;
}

/* mordal-window memo box */
.mordalParent {
	width: 100%;
	height: 100%;
	position: fixed;
	background: #0009;
	position: fixed;
	left: 0;
	top: 0;
}

#memoBox .space {
	width: 30%;
	height: 60%;
	margin-top: 5%;
	margin-left: 35%;
	background: #000c;
}

#memoBox .txt {
	width: 96%;
	height: 95%;
	color: white;
	border: none;
	margin-left: 2%;
	background: #fff0;
}

button.save, button.discard, button.add {
	height: 1.6rem;
	border: none;
	background: gray;
	color: white;
	float: right;
	font-weight: bolder;
	margin-right: 5px;
}

#memoBox .label, #tagBox .label {
	height: 1.6rem;
	width: 65%;
	background: gray;
	color: white;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 1px;
	float: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#memoBox .label:before {
	content: "memo: ";
}

/* mordal-window add tag */
#tagBox .space {
	width: 20%;
	height: 6rem;
	margin-top: 10%;
	margin-left: 40%;
	background: #0009;
}

#tagBox .label:before {
	content: "add tag: ";
}

#tagBox .txt {
	background: #f3f3f366;
	color: white;
	border: none;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	width: 96%;
	height: 30%;
}

