@(message: String)(implicit assetsFinder: AssetsFinder)

@main("Pnyao", assetsFinder) {
	<script src="@assetsFinder.path("javascripts/main.js")" type="text/javascript"></script>

	<div id="memoBox" class="mordalParent" style="display: none">
		<div class="space">
			<div class="content-header">
				<span class="label"></span>
				<button class="discard">☓</button>
				<button class="save">✓</button>
			</div>

			<textarea class="txt"></textarea>
		</div>
	</div>

	<div id="tagBox" class="mordalParent" style="display: none">
		<div class="space">
			<div class="content-header">
				<span class="label"></span>
				<button class="discard">☓</button>
				<button class="save">✓</button>
				<button class="add">+</button>
			</div>
			<input class="txt" type="text" value="">
		</div>
	</div>

	<div id="renameBox" class="mordalParent" style="display: none">
		<div class="space">
			<div class="content-header">
				<span class="label"></span>
				<button class="discard">☓</button>
				<button class="rename">✓</button>
			</div>
			<input class="txt" type="text" value="">
		</div>
	</div>

	<div class="controls">
		<div id="addEntry">
			<input id="addEntryBox" placeholder="add entry /path/to/directory">
			<button type="button" id="entryButton">add</button>
		</div>

		<div id="search">
			<input id="searchBox" placeholder="search by tags">
		</div>

		<div id="save">
			<button id="saveButton">save to DB</button>
		</div>
	</div>

	@Html(message)
}
